table {
  width: 100% !important;
  text-align: left !important;

  & thead {
    background: rgb(41, 52, 62) !important;
    & tr {
      & th {
        padding: 10px !important;
        color: var(--theme-ui-colors-indigo-1) !important;
      }
    }
  }

  & tbody {
    & tr {
      & td {
        padding: 10px !important;
        border-bottom: 4px solid rgb(41, 52, 62);
      }
    }
  }
}

.table-container {
  width:100%;
  overflow: auto;
}

.edit-text {
  color: var(--theme-ui-colors-orange-4) !important;
  cursor: pointer !important;
  text-decoration: underline !important;
}

.delete-text {
  color: var(--theme-ui-colors-red-6) !important;
  cursor: pointer !important;
  text-decoration: underline !important;
}

.background-wrong {
  background: var(--theme-ui-colors-red-6) !important;
}

.background-right {
  background: var(--theme-ui-colors-green-7) !important;
}

.close-button {
  // background: "var(--theme-ui-colors-background)"
  background: var(--theme-ui-colors-red-6) !important;
  color: var(--theme-ui-colors-text) !important;
  cursor: pointer !important;
  border-radius: 0 !important;
}

.no-spacing {
  padding: 0 !important;
  margin: 0 !important;
}

.float-right {
  float: right !important;
}

.pointer {
  cursor: pointer !important;
}

.primary-button {
  cursor: pointer !important;
  border: 1.5px solid black !important;
  background: var(--theme-ui-colors-textMuted) !important;
  color: var(--theme-ui-colors-background) !important;
  display: inline !important;
  padding: 11px !important;
  border-radius: 0 !important;
}

.primary-bg {
  background: var(--theme-ui-colors-textMuted) !important;
}

.underline {
  text-decoration: underline !important;
}

.full-width {
  width: 100% !important;
}

.quiz-name {
  margin-bottom: 10px !important;
}

.radio-td {
  width: 50px !important;
  border-bottom: 0 !important;
}

.quiz-description {
  display: block;
  height: 72px !important;
}

.quiz-card {
  border: 2px solid var(--theme-ui-colors-textMuted) !important;
}

.home-button {
  width: 80% !important;
  position: absolute;
  bottom: 25px;
  left: 10%;
  background:var(--theme-ui-colors-background) !important;
  border-radius: 0px !important;
  font-weight: bolder;
  color: var(--theme-ui-colors-text) !important;
}

// .answer-hover {
//   &:hover {
//     background: var(--theme-ui-colors-textMuted) !important;
//   }
// }
